# Entornos virtuales
venv/
env/
ENV/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Base de datos local (¡Muy importante no subirla!)
db.sqlite3
db.sqlite3-journal

# Archivos de los usuarios (Imágenes subidas desde el admin)
/media/

# Variables de entorno y secretos
.env
.env.local

# Archivos del sistema operativo y editores de código
.DS_Store
.vscode/
.idea/
*.swp