{% extends 'base.html' %}

{% block title %}Historia - Club Arbolito{% endblock %}

{% block content %}
<main class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 text-center">
    <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-6">Nuestra Historia</h1>
    <p class="text-lg text-gray-700 dark:text-gray-300">
        Próximamente... 

        Lorem ipsum dolor sit amet consectetur adipiscing elit tempus faucibus pharetra donec, dignissim non ullamcorper natoque arcu placerat parturient maecenas nullam vehicula, taciti tempor ligula urna integer sociosqu eu venenatis magnis viverra. Parturient tellus nostra eleifend tincidunt eget est, posuere luctus tortor per elementum litora fermentum, ad ac felis placerat pulvinar. Orci torquent elementum vitae curae facilisi dis aliquet ridiculus maecenas, leo sollicitudin hac porttitor mauris penatibus fames morbi mus, suspendisse hendrerit nulla taciti lacus at scelerisque turpis.

Urna quis lectus egestas non integer morbi nunc consequat ridiculus odio placerat lacinia blandit, felis congue mauris scelerisque purus fringilla sed condimentum mi ligula interdum porta. Aptent leo maecenas pharetra tellus suspendisse dignissim parturient, diam vel venenatis cubilia sociosqu ante. Arcu senectus aenean rutrum primis augue metus sollicitudin lacus, lectus cursus accumsan fringilla posuere phasellus porta dis feugiat, blandit curabitur eros conubia sodales volutpat nec.
</main>
{% endblock %}